# 1. Защита бинарных файлов движка Defold от повреждения строк
*.data binary
*.wasm binary
*.js binary

# 2. Стандартные медиаресурсы сборки
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary

# 3. Текстовые файлы веб-страницы (нормализация строк)
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
